# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Uploads (local file storage)
server/uploads/

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
.vercel
